/* Color scheme for the application */
:root {
    --dark-primary-color: #0288D1;
    --default-primary-color: #03A9F4;
    --light-primary-color: #B3E5FC;
    --text-primary-color: #FFFFFF;
    --accent-color: #00BCD4;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;
}

html, body {
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    height: 0;
    background-color: #fafafa;
}

material-button.primary-color:not([raised]):not([disabled]):not([icon]):hover {
    color: var(--text-primary-color);
    background-color: var(--default-primary-color);
}


h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    height: 25px;
}

.sub-options {
    height: 21px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a {
    cursor: pointer;
}